# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE files
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Android
android/.gradle/
android/app/debug/
android/app/release/
*.apk

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserstate

# Linux
linux/flutter/ephemeral/

# Web
web/generated_plugin_registrant.dart

# Firebase files
firebase_app_id_file.json

# Misc
*.log
*.lock
*.tmp

# Windows
windows/flutter/ephemeral/